<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="p-5 login-page">

        <div class="container">
            <div class="form-container">

                <h2 class="mb-4 text-center">Reset Password</h2>
                <form action="/new-password" method="POST">
                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    class="form-control "
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Enter your password" 
                    required>
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error mt-3 mb-3">
                        <%= errorMessage %>
                    </div>
                <%} %>
                <!-- Login Button -->
                <button type="submit" class="login-btn">Update Password</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>